<!DOCTYPE html>
<html>
  <head>
    <title>Ap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="ems-header">
      <div class="ems-title">EMS — Expense Management System</div>
      <nav class="ems-nav">
        <%= link_to "Home", root_path %>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Terms of Service</a>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
